@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  display: flex;
  border: 2px solid red;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* min-width: 100vw; */
  /* min-height: 100%; */
}

body {
  background-image: linear-gradient(#e1decc, #474145);
  font-family: "Kolker Brush", cursive;
}

header {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6rem;
  font-weight: 200;
}

.playing-area {
  border: 2px solid purple;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.player-selection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 2px solid red;
}

.score {
  font-size: 10rem;
}

.btns {
  border: 2px blue solid;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.btns img {
  border-radius: 10px;
  width: 170px;
  height: 170px;
}

footer {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  font-size: 1.2rem;
}

footer .github {
  width: 1.2rem;
  height: 1.2rem;
}
